.outercontainer {
    background-color: lightcyan;
    display: flex;
    flex-direction: column;
}

.middlecontainer {
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: center;
    position: relative;
}

.innercontainer {
    flex: 1;
    overflow: auto;
}

.navbar {
    background-color:teal;
    padding: 1rem;
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
}

.navbarspacer {
    flex: 1;
}

.navbar button {
    background-color: lightblue;
    border: 1rem;
    border-radius: 3px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    padding: .5rem 1rem;
    margin: 1rem;
    transition: transform .1s linear
}

.navbar button:focus {
    outline: none;
}

.sidebar{
    background-color:teal;
    height: 100%;
    width: 200px;
}

.sidebar a {
    margin: 1rem;
}