.todolist {
    font-size: 2rem;
    min-width: 60rem;
    padding: 0.5rem;
}

.todoitem {
    font-size: 1rem;
    border-radius: 20px;
    border-color: black;
    padding: 0.1rem 1rem;
    margin: 0.5rem;
    display: flex;
    align-items: center;
}

.todoitem button {
    background-color: white;
    border: 0;
    border-radius: 3px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    padding: 0.5rem 1rem;
    transition: transform 0.1s linear;
}

.todoitem button:active {
    transform: scale(0.98);
}

.todoitem button:focus {
    outline: none;
}

.listcontainer {
    background-color: teal;
    min-width: 60rem;
    border-radius: 3px;
    padding: 1rem 2rem;
}

.recipe_container {
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.recipe {
    background-color: white;
    border-radius: 3px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    margin: 0.5rem;
    width: 300px;
}

.recipe img {
    width: 300px;
}

.recipe_title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar{
    background-color: yellow;
    height: 100%;
    width: 200px;
}

.spacer{
    flex: 1;
}
